.modal {
  display: flex;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.4s linear;
  text-align: left;
}

.modal_open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: white;
  display: flex;
  position: relative;
  color: black;
  border-radius: 10px;
  z-index: 1;
  align-self: center;
  padding: 0 36px;
  min-width: calc(430px - 72px);
  min-height: 380px;
}

@media screen and (max-width: 550px) {
  .modal__container {
    width: 282px;
  }
}

.modal__profile {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 34px 0 12px 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 900;
  font-style: normal;
}

@media screen and (max-width: 550px) {
  .modal__title {
    margin: 25px 0 76px 22px;
    font-size: 18px;
    line-height: 22px;
  }
}

.modal__form-submit {
  align-self: center;
  width: 360px;
  height: 64px;
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition: background-color 0.4s ease;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal__form-submit:hover {
  background-color: #347eff;
  cursor: pointer;
}

.modal__form-submit_active {
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  background-color: #2f71e5;
  color: white;
}

@media screen and (max-width: 550px) {
  .modal__form-submit {
    width: calc(100% - 44px);
    margin: 46px 22px 25px;
    font-size: 14px;
    line-height: 17px;
  }
}

.modal__form-submit:disabled {
  opacity: 0.2;
  color: black;
  background-color: #e5e5e5;
  outline: auto;
}

.modal__close-button {
  background-image: url("../../images/closebutton.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  height: 40px;
  width: 40px;
  align-self: flex-end;
  justify-self: flex-end;
  position: absolute;
  right: -50px;
  top: -50px;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.modal__text{
  text-align: center;
  font-family: "Inter";
  font-size: 14px;
  line-height: 19.94px;
  padding: 16px 0 28px;;
  margin: 0;
}

.modal__signup-link{
  text-decoration: none;
  color: #2F71E5;
}

.modal__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.4s linear;
}

@media screen and (max-width: 550px) {
  .modal__close-button {
    right: 0;
    top: -41px;
    height: 26px;
    width: 26px;
  }
}
