.modal {
  display: flex;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.4s linear;
  text-align: left;
}

.modal_open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: white;
  display: flex;
  position: relative;
  color: black;
  border-radius: 10px;
  z-index: 1;
  align-self: center;
  padding: 0 36px;
  min-width: calc(430px - 72px);
  min-height: 380px;
}

.modal__form {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 34px 0 12px 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 900;
  font-style: normal;
}

.modal__form-submit {
  align-self: center;
  margin-top: 43px;
  width: 360px;
  height: 64px;
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition: background-color 0.4s ease;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal__form-submit:hover {
  background-color: #347eff;
  cursor: pointer;
}

.modal__form-submit_active {
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  background-color: #2f71e5;
  color: white;
}

.modal__form-submit:disabled {
  opacity: 0.2;
  color: black;
  background-color: #e5e5e5;
  outline: auto;
}

.modal__close-button {
  background-image: url("../../images/closebutton.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  height: 40px;
  width: 40px;
  align-self: flex-end;
  justify-self: flex-end;
  position: absolute;
  right: -50px;
  top: -50px;
  cursor: pointer;
  transition: opacity 0.4s linear;
  
}

.modal__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.4s linear;
}

.modal__error {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 0;
  position: relative;
  max-width: 358px;
}

@media screen and (max-width: 1100px) {
  .modal__container {
    min-width: 430px;
  }
}

@media screen and (max-width: 540px) {
  .modal {
    align-items: flex-start;
    bottom: -70px;
  }

  .modal__close-button {
    width: 24px;
    height: 24px;
    position: relative;
    align-self: flex-end;
    margin-top: 16px;
    margin-right: 32px;
    top: -16px;
    margin-top: -24px;
  }

  .modal__container {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 100%;
    border-radius: 25px;
    justify-content: center;
  }

  .modal__form-submit {
    width: calc(100% - 32px);
    margin: 46px 16px 25px;
    font-size: 18px;
    line-height: 24px;
  }

  .modal__title {
    margin: 16px 0 17px 0;
    font-size: 18px;
    line-height: 22px;
  }

  .modal__form {
    box-sizing: border-box;
    max-width: 320px;
    width: 100%;
    height: 90vh;
    margin: 16px 0 0;
  }

  .modal__form-submit {
    margin-bottom: 16px;
  }
}
