.search {
  position: relative;
  margin: 0;
  overflow: auto;
  margin-top: -100px;
  height: 576px;
}

.search::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../../images/background.png");
  background-position: center;
  background-size: cover;
  opacity: 0.75;
}

.search__container {
  position: relative;
  max-width: 607px;
  margin: 160px auto 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


