.about{
    display: flex;
    justify-content: center;
    padding: 0 104px;
    margin: 0 auto;
    max-width: 1440px;
}

.about__image{
    padding: 80px 0;
    max-width: 40%;
    height: auto;
    width: auto;
    align-self: center;
}

.about__info{
    max-width: 600px;
    margin-left: 56px;
    padding-top: 131px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about__title{
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    font-family: "Roboto Slab";
}

.about__paragraph{
    font-family: "Roboto";
    font-weight: 400;
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
    text-align: start;
}