.navigation {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.navigation__home {
  margin: 30px 42px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  height: 50px;
  width: 67px;
}

.navigation_type_black {
  color: black;
  border-bottom: 3px solid black;
}

.navigation__saved-articles {
  margin: 30px 42px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  height: 50px;
  width: 178px;
}

.navigation__saved-articles_black {
  color: black;
  border-bottom: 3px solid black;
}

.navigation__signin {
  background: none;
  height: 48px;
  min-width: 176px;
  margin: 19px 104px 13px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0 15px;
}

.navigation__signin_black {
  color: black;
  border: 1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 112px;
}

.navigation__logout_button{
  height: 16px;
  margin-left: 15px;
}