.no-results{
    background-color: #F5F6F7;
    display: flex;
    padding: 0;
}

.no-results__container{
    max-width: 356px;
    width: 25%;
    margin: 86px auto 80px;
    flex-wrap: wrap;
}

.no-results__title{
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    margin: 24px 0 16px;
    color: #1A1B22;
}

.no-results__paragraph{
    color: #B6BCBF;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}